* {
  margin:0px;
  padding:0px;
  text-align: center
}

#intro h1{
	font-size: 50px;
	margin-top:  30px;
	padding: 20px;
}
#menu
	{
	}
	
	#menu ul
	{
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		margin-left: 0.50em;
		padding: 1em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #FFFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
		background: #d90429;
		border-radius: 8px;
		color: #FFF;
	}
#header-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #8DCB89 url(images/header.jpg) no-repeat center;
		background-size: cover;
	}

p {
	margin-top: 0;
	margin-bottom: 0;
	color: black;
  	display: block;
  	width: 500px;
  	margin: 0px auto;
  	font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
.nav img {
	position: absolute;
	width: 35px;
	left: 50px;
	
}


.nav{

	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 100%;
  	height: 40px;
  	background-color: #e62739;

}

.nav a{
	float: right;
	color: white;
    display:inline-block;
    padding:10px;
    text-decoration:none;
    width: 10%;
}

#AboutMe h1 {
	padding: 40px;
	text-align: left;
	color: black;
	margin: : 5%;
	font-size: 50px;

}
#AboutMe  {
	margin-top: 0;
	background-color: #6b869b;

}
#Projects h1 {
	margin-top: 0;
	padding: 30px;
	text-align: left;
	color: black;
	margin: : 10%;
	font-size: 50px;

}
#Projects p {
	position: relative;
	left: 0px;
	text-align: left;
	width: 500px;
	display: inline-grid;
	
	font-size: 20px;


}
#Projects{
	background-color:#e6dbc9;
}
#Projects img{
	width:40%;
	height:25%;

}
#Contact h1 {
	padding: 40px;
	text-align: left;
	color: black;
	margin: : 20%;
	font-size: 50px;

}
#Contact {
	background-color: #8c6d73;
}


